<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :chapter, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :chapter, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :character_tokens, "Involved Characters", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :character_tokens, :id => "event_character_tokens", "data-pre" => @event.characters.to_json %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
