<%= form_for @character, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_appearance, "Chapter of first appearance", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :first_appearance, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :relatee_tokens, "Related Characters", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :relatee_tokens, :id => "character_relatee_tokens", "data-pre" => @character.relatees.to_json %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                characters_path, :class => 'btn' %>
  </div>
<% end %>
