<%- model_class = Character -%>
<canvas id="viewport" width="800" height="600"></canvas>
<script type="text/javascript">
    var sys = arbor.ParticleSystem(1000,400,.8);
    sys.parameters({gravity:true});
    sys.renderer = Renderer("#viewport");
    var data = {
        nodes:{
          <% Character.all.each do |c| %>
            <%= c.id %>:{'color':'blue','shape':'rectangle','label':'<%= c.name %>'}
            <%= ',' unless Character.all.last.id == c.id %>
          <% end %>
        },
        edges:{
          <% Character.all.each do |c| %>
            <%= c.id %>:{ 
              <% c.relatees.each do |r| %>
                <%= r.id %>:{}
                <%= ',' unless c.relatees.last.id == r.id %>
              <% end %>
                }
              <%= ',' unless Character.all.last.id == c.id %>

          <% end %>
        }
    };
    sys.graft(data);
</script>
