<%- model_class = Character -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @character.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_appearance) %>:</strong></dt>
  <dd>Chapter <%= @character.first_appearance %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @character.description %></dd>
  <%
  relativelist = []
  @character.relatees.sort_by{ |r| r.first_appearance }.each do |relative|
    relativelist += [link_to(relative.name, relative)]
  end
  %>
  <dt><strong>Related Characters:</strong></dt>
  <dd><%= relativelist.join(", ").html_safe %></dd>
  <%
  eventlist = []
  @character.events.sort_by{ |e| e.chapter }.each do |event|
    eventlist += [link_to(event.name, event)]
  end
  %>
  <dt><strong>Events:</strong></dt>
  <dd><%= eventlist.join(", ").html_safe %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              characters_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_character_path(@character), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              character_path(@character),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
